<app-header></app-header>
<div class="container mt-4 min-vh-100">
  <div class="row">
    <!-- Start main product image -->
    <div class="col-md-5">
      <div class="ecommerce-gallery">
        <div class="row shadow-5">
          <div class="col-12 mb-1" >
            <div class="lightbox frame-pic">
              <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="false">
                <div class="carousel-inner " style="border-radius: 10px">
                  <div class="carousel-item frame-pic"  *ngFor="let data of currentProdService.productTypeOPS" [ngClass]="{'active': currentProdService.productTypeOPS[0] === data}">
                    <img src="{{data.imageurl}}" class="d-block pic-size" alt="...">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" style="background-color: black;" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                  <span class="carousel-control-next-icon" style="background-color: black;" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            </div>
          </div>

            

        </div>
        <div class="d-flex flex-wrap">
          <div class="me-1 areas-small-img mt-1" (click)="slideto(indexOfelement)" aria-current="true" aria-label="Slide 1" *ngFor="let data of currentProdService.productTypeOPS; index as indexOfelement;">
            <img
              src="{{data.imageurl}}"
              alt="{{data.papertype}}"
              class="small-img-prod"
            />
          </div>
        </div>
      </div>
    </div>
    <!-- end main product image -->
    
    <!-- Start main product details -->
    <div class="col-md-6 mt-3">
      <!-- prod header start -->
      <div class="prod-header">
        <h2 class="prod-tittle">{{currentProd.producttitle}}</h2>
        <span><i class="bi bi-star-fill" style="color: #FFC107;"></i><strong> 246 reviews</strong></span>
      </div>
      <!-- end prod header -->
      
      <!-- start prod desc -->
      <div class="prod-description mt-4">
        <h3>Description</h3>
        <p [ngClass]="{'desc-collapsed': extendDesc}" id="somedsec" #proddesc>
          {{currentProd.productdescription}}          
        </p>
        <p class="extend-description" (click)="moredetails()">More Details</p>
      </div>
      <!-- end prod desc -->
    
      <!-- Start Form Order -->
      <div class="order-areas">
        <form [formGroup]="orderform" (change)="getIndexOfDatas()">

          <!-- Ini yang harus di generate untuk radio button nanti name -> id -> value -->

          <!-- color -->
          <div class="color-form mt-2">
            <label class="order-label">Color</label>
            <div class="input-color-form mt-1 d-flex align-content-start flex-wrap"
              [ngClass]="{'is-valid': orderform.controls['color'].valid}" 
            >        
              <div *ngFor="let data of currentProdService.printColorsOPS; index as indexOfelement;">
                <input type="radio" class="btn-check" name="color" id="color-type-{{indexOfelement}}" value="{{data.colortype}}" formControlName="color"  >
                <label class="btn btn-outline-dark me-2 mt-1" for="color-type-{{indexOfelement}}">{{data.colortype}}</label>
              </div>
            </div>
            <div class="valid-feedback mt-1">
              Print color is {{this.color.value}}
            </div>
          </div>
          
          <!-- papertype -->
          <div class="paper-form mt-2">
            <label class="order-label">Product Type</label>
            <div class="input-paper-form mt-1 d-flex align-content-start flex-wrap"
              [ngClass]="{'is-valid': orderform.controls['papertype'].valid}"
            >
              <div *ngFor="let data of currentProdService.productTypeOPS; index as indexOfelement;">
                <input type="radio" class="btn-check" name="papertype" id="paper-type-{{indexOfelement}}" value="{{data.papertype}}" formControlName="papertype" >
                <label class="btn btn-outline-dark me-2 mt-1" for="paper-type-{{indexOfelement}}">{{data.papertype}}</label>
              </div>
            </div>
            <div class="valid-feedback mt-1">
              Product Type is {{this.papertype.value}}
            </div>
          </div>

          <!-- quality -->
          <div class="quality-form mt-2">
            <label class="order-label">Option</label>
            <div class="input-quality-form mt-1 d-flex align-content-start flex-wrap"
              [ngClass]="{'is-valid': orderform.controls['quality'].valid}"
            >
            <div *ngFor="let data of currentProdService.printQualityOPS; index as indexOfelement;">
              <input type="radio" class="btn-check" name="quality" id="quality-{{indexOfelement}}" value="{{data.printquality}}" formControlName="quality">
              <label class="btn btn-outline-dark me-2 mt-1" for="quality-{{indexOfelement}}">{{data.printquality}}</label>
            </div>
            </div>
            <div class="valid-feedback mt-1">
              Selected option is {{this.quality.value}}
            </div>
          </div>
          
          <!-- copies -->
          <div class="copies-form mt-2">
            <label class="order-label">Number of copies each page</label>
            <div class="input-copies-form mt-1"
              [ngClass]="{'is-invalid': orderform.controls['copies'].invalid  && (orderform.controls['copies'].dirty || orderform.controls['copies'].touched), 'is-valid': orderform.controls['copies'].valid}"
            >
              <label class="btn btn-outline-dark me-2 mt-1" (click)="numofcopies(0); getIndexOfDatas()">-</label>
              <input type="number" class="copies-areas me-2 mt-1" id="number-of-copies" formControlName="copies"
                [ngClass]="{'is-invalid': orderform.controls['copies'].invalid  && (orderform.controls['copies'].dirty || orderform.controls['copies'].touched)}"
              >
              <label class="btn btn-outline-dark me-2 mt-1" (click)="numofcopies(1); getIndexOfDatas()">+</label>

            </div>
            <div class="valid-feedback mt-1">
              Number of copies is {{this.copies.value}}
            </div>

            <div class="invalid-feedback mt-1">
              <div *ngIf="copies.errors?.['required']">
                  <i class="bi bi-exclamation-octagon"></i>
                  Please input your number of copies.
              </div>
              <div *ngIf="copies.errors?.['min']">
                  <i class="bi bi-exclamation-octagon"></i>
                  Please input valid number of copies.
              </div>
            </div>
          </div>


          <!-- file to upload -->
          <div class="color-form mt-2 mb-4">
            <label class="order-label">File to print</label>
            <div class="input-color-form mt-1">
              <input class="form-control filesareas" type="file" accept=".pdf" formControlName="inputedfile" id="filefromoutside" (change)="tease($event)">
            </div>
            <div class="mt-1" *ngIf="this.file">
              {{this.msgpages}}
              
              <div class="mt-1 mb-4">
                <label class="btn btn-outline-dark me-2 mt-1" (click)="resetfile()" *ngIf="this.statsFiles === null">Reset</label>
              </div>
            </div>
          </div>

          <div class="color-form mt-2">
            <label class="order-label" for="noteTextAreas">Note</label>
            <label class="form-label"></label>
            <textarea class="form-control" id="noteTextAreas" rows="3" (change)="setOrderNote($event)"></textarea>
            <div class="mt-1" *ngIf="this.file">
              <div class="mt-1 mb-4">
                <label class="btn btn-outline-dark me-2 mt-1 btn-submit" data-bs-toggle="modal" data-bs-target="#viewTransactionInfo">View Transaction Details</label>
              </div>
            </div>
          </div>
  
          <div class="modal fade" id="viewTransactionInfo" tabindex="-1">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                  <div class="card">
                    <div class="card-body mx-4">
                      <div class="container">
                        <p class="mt-5 mb-3 text-center fw-semibold" style="font-size: 1.4rem;">Transaction Information</p>
                        <div class="row">
                          <ul class="list-unstyled">
                            <li class="text-black">John Doe</li>
                            <li class="text-black mt-1">{{dateNowOrder | date:'longDate'}}</li>
                          </ul>
                        </div>
                        
                        <div class="row">
                          <hr>
                          <div class="col-xl-8">
                            <p>{{this.papertype.value}}</p>
                          </div>
                          <div class="col-xl-4">
                            <p class="float-end">Rp. {{selectTypeFee}}</p>
                          </div>
                        </div>
      
                        <div class="row">
                          <hr>
                          <div class="col-xl-8">
                            <p>{{this.color.value}}</p>
                          </div>
                          <div class="col-xl-4">
                            <p class="float-end">Rp. {{selectColorFee}}</p>
                          </div>
                        </div>
      
                        <div class="row">
                          <hr>
                          <div class="col-xl-8">
                            <p>{{this.quality.value}}</p>
                          </div>
                          <div class="col-xl-4">
                            <p class="float-end">Rp. {{selectQualityFee}}</p>
                          </div>
                        </div>
      
                        <div class="row text-black">
                          <hr style="border: 2px solid black;">
                          <div class="col-xl-6">
                            <p>{{this.copies.value}} x {{totalpages}} Pages</p>
                          </div>
                          <div class="col-xl-6">
                            <p class="float-end fw-bold">Total: Rp. {{totalPrice * totalpages}}
                            </p>
                          </div>
                          <div class="col-xl-6">
                            <p>{{this.orderform.controls['copies'].value * this.totalpages}} x {{selectedWeigth}} gr</p>
                          </div>
                          <div class="col-xl-6">
                            <p class="float-end fw-bold">Weigth: {{(selectedWeigth * this.orderform.controls['copies'].value * this.totalpages).toFixed(2)}} gr
                            </p>
                          </div>
                          <hr style="border: 2px solid black;">
                        </div>
      
                      </div>
                    </div>
                  </div>           
                </div>

                <div class="modal-footer">
                  <button type="button" class="btn btn-outline-dark me-2" data-bs-dismiss="modal">Close</button>
                  <button class="btn btn-outline-dark btn-submit" (click)="submitOrder()">Submit Order</button>
                </div>
              </div>
            </div>
          </div>

          
        </form>
      </div>
      <!-- End Form Order -->
    
    </div>
    <!-- end main product details -->
  </div>
</div>

<app-footer></app-footer>