<app-header>
  
</app-header>

<div class="container mt-4 min-vh-100">
  <div class="row">
    <div class="col-md-2 sidebar">
      <div>Filter</div>
      <div>
        <select class="form-select" aria-label="Sort by paper type" (change)="getProductByPaper($event)">
          <option value="-1" selected>Product Type</option>
          <option value="{{dat.category}}" *ngFor="let dat of allCategory">{{dat.category}}</option>
        </select>
        <select class="form-select" aria-label="Sort by Location" (change)="getProductByCity($event)">
          <option value="-1" selected>Location</option>
          <option value="{{dat.city}}" *ngFor="let dat of allLocation">{{dat.city}}</option>

        </select>
      </div>
    </div>
    <div class="col-md-9 marketplace" >
      <div class="d-flex flex-column">
        <div class="d-flex flex-row flex-wrap" *ngIf="productGrab">

          <div class="flex-fill p-3 itemsloc" *ngFor="let data of allProduct| filter: searchFilter">
            <a href="view/{{data.productOPS.merchantuname}}/{{data.productOPS.productid}}">
              <img src="{{data.productService.productTypeOPS[0].imageurl}}" class="itemsimageops" alt="Item" loading="lazy">
              <div class="col-9 textareaforitems">
                <div>{{data.productOPS.producttitle}}</div>
                <div>Rp. {{data.productService.productTypeOPS[0].paperprice}}</div>
                <div><i class="bi bi-star-fill" style="color: #FFC107;"></i> {{data.productOPS.merchantuname}} | {{data.productOPS.city}}</div>
              </div>
            </a>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>