<footer class="text-center text-lg-start bg-white text-muted" style="margin-top: 10vh;">
  <div class="footer-top mw-100">
    <div class="row-footer-cont row">
      <div class="col-md-3 mx-auto mb-4">
        <div class="footer-colomn">
          <section id="text-1">
            <a href="/">
              <h2 class="brandopstag">OPS</h2>
            </a>
          </section>
          <section id="text-2">
            <p class="desc text-break lh-sm">
              OPSystem is a web-based online printing system, which can help printing businesses accept orders and transactions online to customers. Show our <i class="cursor-pointer" data-bs-toggle="modal" data-bs-target="#tosmodal">Terms and Conditions</i>.</p>
          </section>
          <section>
            <h2 class="text-light fw-bold text-start">Merchant Maps</h2>
          </section>
          <section id="text-2">
            <p class="desc text-break lh-sm">
              <a class="text-light cursor-pointer" routerLink="/openlayers/ops"><i>View all register merchant on OPS.</i></a>
            </p>
          </section>
          <section>
            <h2 class="text-light fw-bold text-start">Merchant Offers</h2>
          </section>
          <section id="text-2">
            <p class="desc text-break lh-sm">
              <a class="text-light cursor-pointer" routerLink="/offer"><i>View all offer for merchant.</i></a>
            </p>
          </section>
        </div>
          
      </div>
      <div class="col-md-3 mx-auto mb-4">
        <div class="footer-colomn">
          <section id="heading-1 text-2">
            <h2 class="text-start contact mb-2">Contact Us</h2>
            <div id="text-2">
              <p class="desc text-break lh-sm">Jl. Raya Kedampang No.99, Kerobokan Kelod, Kec. Kuta Utara, Kabupaten Badung, Bali 80361</p>
              <div class="sub-head">
                <b>Instagram</b><br>
                <i class="desc text-break lh-sm"><a href="https://www.instagram.com/onlineprintingsystem/" class="desc" target="_blank">@onlineprintingsystem</a></i>
              </div>
              <div class="sub-head">
                <b>Email</b><br>
                <i class="desc text-break lh-sm"><a href="mailto:opscorecontact@gmail.com" class="desc">opscorecontact@gmail.com</a></i>
              </div>
              <div class="sub-head">
                <b>Website</b><br>
                <i class="desc text-break lh-sm">www.ops.com</i>
              </div>
              <div class="sub-head">
                <b>Link</b><br>
                <i class="desc text-break lh-sm"><a routerLink="/calculator/paper" class="desc">Paper Weight Calculator</a></i>
              </div>
            </div>
          </section>
          <section id="text-2">
            
          </section>
        </div>
      </div>
      <div class="col-md-3 mx-auto mb-4">
          <div class="footer-colomn">
            <div class="map-1">
              <section id="map-comp text-center">
                  <iframe class="xFrame" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d285.3707206404489!2d115.17314294729272!3d-8.657158627266073!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2dd2475bde6cb143%3A0xd9af6b62e73969c4!2sUD.%20Norzein!5e0!3m2!1sen!2sid!4v1676802877914!5m2!1sen!2sid" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
              </section>
          </div>
          </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom text-center mw-100">
      &#169; 2022-2023 OPS Team
  </div>
</footer>

<app-tos></app-tos>