<body class="g-sidenav-show   bg-gray-100">
    <div class="min-height-300 bg-ops position-absolute w-100"></div>
    <aside class="sidenav bg-white navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-4 " id="sidenav-main" data-color="primary" [ngClass]="{'showNavMenu': this.showNav === true}">
      <div class="sidenav-header">
        <i class="fas fa-times p-3 cursor-pointer text-secondary opacity-5 position-absolute end-0 top-0 d-none d-xl-none" aria-hidden="true" id="iconSidenav"></i>
        <a class="navbar-brand m-0" href="/">
          <img src="../../../assets/image/appicon-ops-color.png" class="navbar-brand-img h-100" alt="ops_logo">
          <span class="ms-1 font-weight-bold">Developer Dashboard</span>
        </a>
      </div>
      <hr class="horizontal dark mt-0">
      <div class="collapse navbar-collapse  w-auto " id="sidenav-collapse-main">
        <ul class="navbar-nav">
          <h6 class="ps-4 ms-2 text-uppercase text-xs font-weight-bolder opacity-6">OPS Menu</h6>
  
          <li class="nav-item">
            <a class="nav-link nav-link-sz " routerLink="/developer/dashboard/">
              <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                <i class="bi bi-tv brand-color text-sm opacity-10"></i>
              </div>
              <span class="nav-link-text ms-1">Dashboard</span>
            </a>
          </li>
  
          <li class="nav-item mt-3">
            <h6 class="ps-4 ms-2 text-uppercase text-xs font-weight-bolder opacity-6">Manage OPS</h6>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-link-sz active" routerLink="/developer/dashboard/merchant">
              <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                <i class="bi bi-basket2 brand-color text-sm opacity-10"></i>
              </div>
              <span class="nav-link-text ms-1">Merchant</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-link-sz" routerLink="/developer/dashboard/adminprinting">
              <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                <i class="bi bi-person-bounding-box brand-color text-sm opacity-10"></i>
              </div>
              <span class="nav-link-text ms-1">Admin Printing</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-link-sz" routerLink="/developer/dashboard/merchantproduct">
              <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                <i class="bi bi-box-seam-fill brand-color text-sm opacity-10"></i>
              </div>
              <span class="nav-link-text ms-1">Merchant Product</span>
            </a>
          </li>
          
          <li class="nav-item mt-3">
            <h6 class="ps-4 ms-2 text-uppercase text-xs font-weight-bolder opacity-6">Account pages</h6>
          </li>
  
          <li class="nav-item">
            <a class="nav-link nav-link-sz " routerLink="/developer/dashboard/profile">
              <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                <i class="bi bi-person-badge brand-color text-dark text-sm opacity-10"></i>
              </div>
              <span class="nav-link-text ms-1">Profile</span>
            </a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link nav-link-sz" (click)="this.signDevOut()">
              <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                <i class="bi bi-door-open brand-color text-dark text-sm opacity-10"></i>
              </div>
              <span class="nav-link-text ms-1">Sign Out</span>
            </a>
          </li>

        </ul>
      </div>
  
    </aside>
    <main class="main-content position-relative border-radius-lg ">
      <!-- Navbar -->
      <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl " id="navbarBlur" data-scroll="false">
        <div class="container-fluid py-1 px-3">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
              <li class="breadcrumb-item text-sm"><a class="opacity-5 text-white" >Dashboard</a></li>
              <li class="breadcrumb-item text-sm text-white active" aria-current="Developer">Merchant</li>
            </ol>
            <h6 class="font-weight-bolder text-white mb-0">Dashboard</h6>
          </nav>
          <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
            <div class="ms-md-auto pe-md-3 d-flex align-items-center cursor-pointer">
              <i class="bi bi-person-circle text-white"></i>
              <span class="ms-2 text-white">Hazzzardd</span>
            </div>
            <ul class="navbar-nav  justify-content-end">
              <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
                <a  class="nav-link text-white p-0" id="iconNavbarSidenav">
                  <div class="sidenav-toggler-inner cursor-pointer" (click)="setShowNav()">
                    <i class="sidenav-toggler-line bg-white"></i>
                    <i class="sidenav-toggler-line bg-white"></i>
                    <i class="sidenav-toggler-line bg-white"></i>
                  </div>
                </a>
              </li>
              <li class="nav-item px-3 d-flex align-items-center">
                <a  class="nav-link text-white p-0">
                  <i class="bi bi-gear-fill fixed-plugin-button-nav cursor-pointer"></i>
                </a>
              </li>
              <li class="nav-item dropdown pe-2 d-flex align-items-center">
                <a  class="nav-link text-white p-0 " id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="bi bi-bell-fill cursor-pointer"></i>
                </a>
                <ul class="dropdown-menu  dropdown-menu-end  px-2 py-3 me-sm-n4" aria-labelledby="dropdownMenuButton">
                  <li class="mb-2">
                    <a class="dropdown-item border-radius-md" >
                      <div class="d-flex py-1">
                        <div class="my-auto">
                          <img src="../../../assets/img/team-2.jpg" class="avatar avatar-sm  me-3 ">
                        </div>
                        <div class="d-flex flex-column justify-content-center">
                          <h6 class="text-sm font-weight-normal mb-1">
                            <span class="font-weight-bold">New message</span> from Laur
                          </h6>
                          <p class="text-xs text-secondary mb-0">
                            <i class="fa fa-clock me-1"></i>
                            13 minutes ago
                          </p>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li class="mb-2">
                    <a class="dropdown-item border-radius-md" >
                      <div class="d-flex py-1">
                        <div class="my-auto">
                          <img src="../../../assets/img/small-logos/logo-spotify.svg" class="avatar avatar-sm bg-gradient-dark  me-3 ">
                        </div>
                        <div class="d-flex flex-column justify-content-center">
                          <h6 class="text-sm font-weight-normal mb-1">
                            <span class="font-weight-bold">New album</span> by Travis Scott
                          </h6>
                          <p class="text-xs text-secondary mb-0">
                            <i class="fa fa-clock me-1"></i>
                            1 day
                          </p>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item border-radius-md" >
                      <div class="d-flex py-1">
                        <div class="avatar avatar-sm bg-gradient-secondary  me-3  my-auto">
                          <svg width="12px" height="12px" viewBox="0 0 43 36" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <title>credit-card</title>
                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                              <g transform="translate(-2169.000000, -745.000000)" fill="#FFFFFF" fill-rule="nonzero">
                                <g transform="translate(1716.000000, 291.000000)">
                                  <g transform="translate(453.000000, 454.000000)">
                                    <path class="color-background" d="M43,10.7482083 L43,3.58333333 C43,1.60354167 41.3964583,0 39.4166667,0 L3.58333333,0 C1.60354167,0 0,1.60354167 0,3.58333333 L0,10.7482083 L43,10.7482083 Z" opacity="0.593633743"></path>
                                    <path class="color-background" d="M0,16.125 L0,32.25 C0,34.2297917 1.60354167,35.8333333 3.58333333,35.8333333 L39.4166667,35.8333333 C41.3964583,35.8333333 43,34.2297917 43,32.25 L43,16.125 L0,16.125 Z M19.7083333,26.875 L7.16666667,26.875 L7.16666667,23.2916667 L19.7083333,23.2916667 L19.7083333,26.875 Z M35.8333333,26.875 L28.6666667,26.875 L28.6666667,23.2916667 L35.8333333,23.2916667 L35.8333333,26.875 Z"></path>
                                  </g>
                                </g>
                              </g>
                            </g>
                          </svg>
                        </div>
                        <div class="d-flex flex-column justify-content-center">
                          <h6 class="text-sm font-weight-normal mb-1">
                            Payment successfully completed
                          </h6>
                          <p class="text-xs text-secondary mb-0">
                            <i class="fa fa-clock me-1"></i>
                            2 days
                          </p>
                        </div>
                      </div>
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="container-fluid py-4">

        <div class="row">
            <div class="col-lg-9 mb-lg-0 mb-4">
                <div class="card z-index-2 h-100">
                    <div class="card-header pb-0 pt-3 bg-transparent">
                        <h6 class="text-capitalize">Merchant</h6>
                        
                    </div>
                    <div class="card-body">
                        <table id="listmerchant" class="table table-borderless" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Username</th>
                                    <th>Name</th>
                                    <th>Date Created</th>
                                    <th>Open</th>
                                    <th>Close</th>
                                    <th>City</th>
                                    <th>Admin Total</th>
                                    <th>Subscription Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let dat of merchData; let idxmerch = index">
                                    <td>{{dat.merchdatas.merchantid}}</td>
                                    <td>{{dat.merchdatas.merchantuname}}</td>
                                    <td>{{dat.merchdatas.merchantname}}</td>
                                    <td>{{dat.merchdatas.datecreated}}</td>
                                    <td>{{dat.merchdatas.opentime}}</td>
                                    <td>{{dat.merchdatas.closetime}}</td>
                                    <td>{{dat.merchdatas.city}}</td>
                                    <td>{{dat.admin.total}}</td>
                                    <td>{{dat.merchdatas.subscription_type}}</td>
                                    <td>
                                      <button class="btn btn-primary me-2" data-bs-toggle="modal" data-bs-target="#ModalEditMerchantInfo" (click)="reqViewMerchant(dat.merchdatas.merchantid)">Edit</button>
                                      <button class="btn btn-danger" (click)="deleteMerchant({merchantid: dat.merchdatas.merchantid, addressid: dat.merchdatas.addressid})">Delete</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


            <div class="col-lg-3 mb-lg-0 mb-4">
                <div class="card z-index-2 h-100">
                        <div class="card-header pb-0 pt-3 bg-transparent">
                        <h6 class="text-capitalize">Account Information</h6>
                    </div>
                    <div class="card-body">
                        a
                    </div>
                </div>
            </div>  
        </div>

        <!-- merchant input -->
        <div class="row mt-4">
          <div class="col-lg-9 mb-lg-0">
            <div class="card z-index-2 h-100">
                <div class="card-header pb-0 pt-3 bg-transparent">
                  <h6 class="text-capitalize">Register Merchant</h6>
                </div>
                <div class="card-body">
                  <form [formGroup]="newMerchantForm">
                    <!-- Merchant -->
                    <h6 class="text-capitalize">Merchant Information</h6>
                    <div class="row g-3">
                      <div class="col-6  ">
                        <label>Merchant Username</label>
                        <input 
                          type="text" 
                          class="form-control" 
                          placeholder="Merchant Username" 
                          formControlName="merchantuname"
                          (change)="checkMerchantName()"
                          [ngClass]="{
                            'is-invalid': (newMerchantForm.controls['merchantuname'].invalid && (newMerchantForm.controls['merchantuname'].dirty || newMerchantForm.controls['merchantuname'].touched) || merchUsed === true), 
                            'is-valid': newMerchantForm.controls['merchantuname'].valid}"
                        >
                        <div class="invalid-feedback">
                          <div *ngIf="merchantuname.errors?.['required']">
                            <i class="bi bi-exclamation-octagon"></i>
                            Please input this field.
                          </div>
                          <div *ngIf="merchUsed === true">
                            <i class="bi bi-exclamation-octagon"></i>
                            This merchant name already used.
                          </div>
                          <div *ngIf="merchantuname.errors?.['whitespace']">
                            <i class="bi bi-exclamation-octagon"></i>
                            Merchant Username cannot contain whitespace.
                          </div>
                        </div>
                      </div>

                      <div class="col-6  ">
                        <label>Merchant Name</label>
                        <input 
                          type="text" 
                          class="form-control" 
                          placeholder="Merchant Name" 
                          formControlName="merchantname"

                          [ngClass]="{
                            'is-invalid': (newMerchantForm.controls['merchantname'].invalid && (newMerchantForm.controls['merchantname'].dirty || newMerchantForm.controls['merchantname'].touched) ), 
                            'is-valid': newMerchantForm.controls['merchantname'].valid}"
                        >
                        <div class="invalid-feedback">
                          <div *ngIf="merchantname.errors?.['required']">
                            <i class="bi bi-exclamation-octagon"></i>
                            Please input this field.
                          </div>

                        </div>
                      </div>
                      <div class="col-6 ">
                        <label>Open Time</label>
                        <input 
                          class="form-control cursor-pointer" 
                          placeholder="Open Time" 
                          [ngxTimepicker]="opentimeinp" 
                          readonly 
                          formControlName="opentime" 
                          [format]="24"
                          [ngClass]="{
                            'is-invalid': (newMerchantForm.controls['opentime'].invalid && (newMerchantForm.controls['opentime'].dirty || newMerchantForm.controls['opentime'].touched)), 
                            'is-valid': newMerchantForm.controls['opentime'].valid}"
                        >
                        <ngx-material-timepicker #opentimeinp [theme]="darkTheme"></ngx-material-timepicker>
                        <div class="invalid-feedback">
                          <div *ngIf="opentime.errors?.['required']">
                            <i class="bi bi-exclamation-octagon"></i>
                            Please input this field.
                          </div>
                        </div>
                      </div>
                      <div class="col-6">
                        <label>Closed TIme</label>
                        <input 
                          class="form-control cursor-pointer" 
                          placeholder="Closed TIme" 
                          [ngxTimepicker]="closetimeinp" 
                          readonly 
                          formControlName="closetime"  
                          [format]="24"
                          [ngClass]="{
                            'is-invalid': (newMerchantForm.controls['closetime'].invalid && (newMerchantForm.controls['closetime'].dirty || newMerchantForm.controls['closetime'].touched)), 
                            'is-valid': newMerchantForm.controls['closetime'].valid}"
                        >
                        <ngx-material-timepicker #closetimeinp [theme]="darkTheme"></ngx-material-timepicker>
                        <div class="invalid-feedback">
                          <div *ngIf="closetime.errors?.['required']">
                            <i class="bi bi-exclamation-octagon"></i>
                            Please input this field.
                          </div>
                        </div>
                      </div>
                      <div class="col-6">
                        <label>Merchant Logo</label>
                        <input 
                          type="file" 
                          class="form-control"  
                          placeholder="Merchant Logo" 
                          formControlName="merchantlogo"  
                          accept="image/png, image/jpeg" 
                          (change)="tease($event)"
                          [ngClass]="{
                            'is-invalid': (newMerchantForm.controls['merchantlogo'].invalid && (newMerchantForm.controls['merchantlogo'].dirty || newMerchantForm.controls['merchantlogo'].touched)), 
                            'is-valid': newMerchantForm.controls['merchantlogo'].valid}"
                        >
                        <div class="invalid-feedback">
                          <div *ngIf="merchantlogo.errors?.['required']">
                            <i class="bi bi-exclamation-octagon"></i>
                            Please input this field.
                          </div>
                        </div>
                      </div>
                      <div class="col-6">
                        <label>Subscription Type</label>
                        <select formControlName="subscription_type" class="form-select"
                          [ngClass]="{
                            'is-invalid': (newMerchantForm.controls['subscription_type'].invalid && (newMerchantForm.controls['subscription_type'].dirty || newMerchantForm.controls['subscription_type'].touched)), 
                            'is-valid': newMerchantForm.controls['subscription_type'].valid}"
                        >
                          <option selected hidden value="">Select Subcription</option>
                          <option value="Monthly">Monthly</option>
                          <option value="Annual">Annual</option>
                          <option value="Annual">Annual Pro</option>
                          <option value="Expired">Expired</option>
                        </select>
                        <div class="invalid-feedback">
                          <div *ngIf="newMerchantForm.controls['subscription_type'].errors?.['required']">
                            <i class="bi bi-exclamation-octagon"></i>
                            Please Select this field.
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- End Merchant -->

                    <!-- Merchant address -->
                    <h6 class="text-capitalize mt-4">Merchant Address</h6>
                    <div class="row g-3">
                      <div class="col-6  ">
                        <label>Full Address</label>
                        <input 
                          type="text" 
                          class="form-control" 
                          placeholder="Full Address"  
                          formControlName="fulladdress"
                          [ngClass]="{
                            'is-invalid': (newMerchantForm.controls['fulladdress'].invalid && (newMerchantForm.controls['fulladdress'].dirty || newMerchantForm.controls['fulladdress'].touched)), 
                            'is-valid': newMerchantForm.controls['fulladdress'].valid}"
                        >
                        <div class="invalid-feedback">
                          <div *ngIf="fulladdress.errors?.['required']">
                            <i class="bi bi-exclamation-octagon"></i>
                            Please input this field.
                          </div>
                        </div>
                      </div>
                      <div class="col-6 ">
                        <label>City</label>
                        <input 
                          type="text" 
                          class="form-control" 
                          placeholder="City" 
                          formControlName="city"
                          [ngClass]="{
                            'is-invalid': (newMerchantForm.controls['city'].invalid && (newMerchantForm.controls['city'].dirty || newMerchantForm.controls['city'].touched)), 
                            'is-valid': newMerchantForm.controls['city'].valid}"
                        >
                        <div class="invalid-feedback">
                          <div *ngIf="city.errors?.['required']">
                            <i class="bi bi-exclamation-octagon"></i>
                            Please input this field.
                          </div>
                        </div>
                      </div>
                      <div class="col-6">
                        <label>Post Code</label>
                        <input 
                          type="text" 
                          class="form-control" 
                          placeholder="Post Code" 
                          formControlName="postcode"
                          [ngClass]="{
                            'is-invalid': (newMerchantForm.controls['postcode'].invalid && (newMerchantForm.controls['postcode'].dirty || newMerchantForm.controls['postcode'].touched)), 
                            'is-valid': newMerchantForm.controls['postcode'].valid}" 
                        >
                        <div class="invalid-feedback">
                          <div *ngIf="postcode.errors?.['required']">
                            <i class="bi bi-exclamation-octagon"></i>
                            Please input this field.
                          </div>
                        </div>
                      </div>
                      <div class="col-6">
                        <label>Contact Phone</label>
                        <input
                          type="text" 
                          class="form-control"  
                          placeholder="Phone Number" 
                          formControlName="phoneaddress"
                          [ngClass]="{
                            'is-invalid': (newMerchantForm.controls['phoneaddress'].invalid && (newMerchantForm.controls['phoneaddress'].dirty || newMerchantForm.controls['phoneaddress'].touched)), 
                            'is-valid': newMerchantForm.controls['phoneaddress'].valid}" 
                        >
                        <div class="invalid-feedback">
                          <div *ngIf="phoneaddress.errors?.['required']">
                            <i class="bi bi-exclamation-octagon"></i>
                            Please input this field.
                          </div>
                          <div *ngIf="phoneaddress.errors?.['pattern']">
                            <i class="bi bi-exclamation-octagon"></i>
                            Please input valid number only.
                          </div>
                        </div>
                      </div>

                      <div class="col-6">
                        <label>Longitude</label>
                        <input 
                          type="text" 
                          class="form-control" 
                          placeholder="Longitude" 
                          formControlName="longitude"
                          [ngClass]="{
                            'is-invalid': (newMerchantForm.controls['longitude'].invalid && (newMerchantForm.controls['longitude'].dirty || newMerchantForm.controls['longitude'].touched)), 
                            'is-valid': newMerchantForm.controls['longitude'].valid}" 
                        >
                        <div class="invalid-feedback">
                          <div *ngIf="newMerchantForm.controls['longitude'].errors?.['required']">
                            <i class="bi bi-exclamation-octagon"></i>
                            Please input this longitude field.
                          </div>
                        </div>
                      </div>
                      <div class="col-6">
                        <label>Latitude</label>
                        <input
                          type="text" 
                          class="form-control"  
                          placeholder="Latitude" 
                          formControlName="latitude"
                          [ngClass]="{
                            'is-invalid': (newMerchantForm.controls['latitude'].invalid && (newMerchantForm.controls['latitude'].dirty || newMerchantForm.controls['latitude'].touched)), 
                            'is-valid': newMerchantForm.controls['latitude'].valid}" 
                        >
                        <div class="invalid-feedback">
                          <div *ngIf="newMerchantForm.controls['latitude'].errors?.['required']">
                            <i class="bi bi-exclamation-octagon"></i>
                            Please input this latitude field.
                          </div>
                        </div>
                      </div>
                      <div class="col-12 text-center">
                        <p class="font-monospace">
                          You can get your longitude and latitude by follow this 
                          <a  target="_blank" [href]="'https://www.google.com/maps/search/'+ newMerchantForm.controls['fulladdress'].value">link</a> or 
                          <a href="/ol" target="_blank">ops-longlat</a>. read more about find longitude and latitude with google maps
                          <a href="https://www.wikihow.com/Get-Latitude-and-Longitude-from-Google-Maps" target="_blank">here</a>.
                        </p>
                      </div>
                      <div class="col-12">
                        <label>Aditional Information</label>
                        <textarea 
                          class="form-control" 
                          cols="30" 
                          rows="5" 
                          formControlName="note"></textarea>
                      </div>
                    </div>
                    <!-- End Merchant address -->
                    <!-- Merchant address -->
                    <h6 class="text-capitalize mt-4">Merchant Owner</h6>
                    <div class="row g-3">
                      <div class="col-6">
                        <label>Username</label>
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Username"
                          formControlName="username"
                          (change)="checkusername()"
                          [ngClass]="{
                            'is-invalid': (newMerchantForm.controls['username'].invalid && (newMerchantForm.controls['username'].dirty || newMerchantForm.controls['username'].touched) || usernameUsed === true), 
                            'is-valid': newMerchantForm.controls['username'].valid}"
                        >
                        <div class="invalid-feedback">
                          <div *ngIf="username.errors?.['required']">
                            <i class="bi bi-exclamation-octagon"></i>
                            Username is required.
                          </div>
                          <div *ngIf="username.errors?.['minlength']">
                            <i class="bi bi-exclamation-octagon"></i>
                            Username shouldn't be less than 5 words.
                          </div>
                          <div *ngIf="usernameUsed === true">
                            <i class="bi bi-exclamation-octagon"></i>
                            Username Already used
                          </div>
                          <div *ngIf="username.errors?.['whitespace']">
                            <i class="bi bi-exclamation-octagon"></i>
                            Username cannot contain whitespace.
                          </div>
                        </div>
                      </div>

                      <div class="col-6 ">
                        <label>Password</label>
                        <div class="input-group"
                          [ngClass]="{
                            'is-invalid': newMerchantForm.controls['password'].invalid && (newMerchantForm.controls['password'].dirty || newMerchantForm.controls['password'].touched), 
                            'is-valid': newMerchantForm.controls['password'].valid}" 
                        >
                          <input 
                            name="password" 
                            class="form-control ps1x" 
                            formControlName="password" 
                            placeholder="Password"
                            [type]="passwordinputtype ? 'password' : 'text'"
                            [ngClass]="{
                              'is-invalid': newMerchantForm.controls['password'].invalid && (newMerchantForm.controls['password'].dirty || newMerchantForm.controls['password'].touched), 
                              'is-valid': newMerchantForm.controls['password'].valid
                            }"        
                            maxlength="255"
                          >
                          <div class="form-control-icon cstareapass input-group-text" (click)="tooglepassword()">
                            <i class="bi bi-eye-slash " *ngIf="passwordinputtype"></i>
                            <i class="bi bi-eye" *ngIf="!passwordinputtype"></i>
                          </div>
                        </div>
                        <div class="invalid-feedback">
                          <div *ngIf="password.errors?.['required']">
                            <i class="bi bi-exclamation-octagon"></i>
                            Password is required.
                          </div>
                          <div *ngIf="password.errors?.['minlength']">
                            <i class="bi bi-exclamation-octagon"></i>
                            Password shouldn't be less than 6 words.
                          </div>
                          <div *ngIf="password.errors?.['strongNumber']">
                            <i class="bi bi-exclamation-octagon"></i>
                            Password should contain at least 1 number.
                          </div>
                          <div *ngIf="password.errors?.['strongUpper']">
                            <i class="bi bi-exclamation-octagon"></i>
                            Password should contain at least 1 uppercase.
                          </div>
                          <div *ngIf="password.errors?.['whitespace']">
                            <i class="bi bi-exclamation-octagon"></i>
                            Password cannot contain whitespace.
                          </div>
                        </div>  
                      </div>

                      <div class="col-6">
                        <label>Full Name</label>
                        <input 
                          type="text" 
                          class="form-control" 
                          placeholder="Full Name" 
                          formControlName="fullname"
                          [ngClass]="{
                            'is-invalid': newMerchantForm.controls['fullname'].invalid && (newMerchantForm.controls['fullname'].dirty || newMerchantForm.controls['fullname'].touched), 
                            'is-valid': newMerchantForm.controls['fullname'].valid}"
                        >
                        
                        <div class="invalid-feedback">
                          <div *ngIf="fullname.errors?.['required']">
                            <i class="bi bi-exclamation-octagon"></i>
                            Full Name is required.
                          </div>
                        </div>
                      </div>
                      
                      <div class="col-6">
                        <label>Email</label>
                        <input 
                          type="Email" 
                          class="form-control"  
                          placeholder="Email" 
                          formControlName="email"
                          (change)="checkEmail()"
                          [ngClass]="{
                            'is-invalid': newMerchantForm.controls['email'].invalid && (newMerchantForm.controls['email'].dirty || newMerchantForm.controls['email'].touched) || emailUsed === true, 
                            'is-valid': newMerchantForm.controls['email'].valid}"
                          >
                        <div class="invalid-feedback">
                          <div *ngIf="email.errors?.['required']">
                            <i class="bi bi-exclamation-octagon"></i>
                            Email is required.
                          </div>
                          <div *ngIf="email.errors?.['isemail']">
                            <i class="bi bi-exclamation-octagon"></i>
                            Please enter valid email.
                          </div>
                          <div *ngIf="emailUsed === true">
                            <i class="bi bi-exclamation-octagon"></i>
                            Email Already used
                          </div>
                        </div>
                      </div>

                      <div class="col-6">
                        <label>Gender</label>
                        <select 
                          class="form-select" 
                          formControlName="gender"
                          [ngClass]="{
                            'is-invalid': newMerchantForm.controls['gender'].invalid && (
                              newMerchantForm.controls['gender'].dirty || 
                              newMerchantForm.controls['gender'].touched), 
                            'is-valid': newMerchantForm.controls['gender'].valid}"
                          >
                            <option selected value="">Select Gender</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                          </select>
                        <div class="invalid-feedback">
                            <div *ngIf="gender.errors?.['required']">
                                <i class="bi bi-exclamation-octagon"></i>
                                Please select gender.
                            </div>
                        </div>
                      </div>

                      <div class="col-6">
                        <label>Phone</label>
                        <input 
                          type="text" 
                          class="form-control"  
                          placeholder="Phone Number" 
                          formControlName="phone"
                          (change)="checkPhone()"
                          [ngClass]="{
                            'is-invalid': newMerchantForm.controls['phone'].invalid && (newMerchantForm.controls['phone'].dirty || newMerchantForm.controls['phone'].touched) || phoneUsed === true, 
                            'is-valid': newMerchantForm.controls['phone'].valid}"
                        >
                        <div class="invalid-feedback">
                          <div *ngIf="phone.errors?.['required']">
                            <i class="bi bi-exclamation-octagon"></i>
                            Please input phone number.
                          </div>
                          <div *ngIf="phone.errors?.['pattern']">
                            <i class="bi bi-exclamation-octagon"></i>
                            Please input valid phone number.
                          </div>
                          <div *ngIf="phoneUsed === true">
                            <i class="bi bi-exclamation-octagon"></i>
                            Phone Already used
                          </div>
                        </div>
                      </div>

                      <div class="col-6">
                        <label>Position</label>
                        <input 
                          type="text" 
                          class="form-control" 
                          value="Owner" 
                          placeholder="Position" 
                          readonly 
                          formControlName="position">
                      </div>

                      <div class="col-6">
                        <label>Card ID</label>
                        <input 
                          type="text" 
                          class="form-control"  
                          placeholder="Card ID" 
                          formControlName="cardid"
                          [ngClass]="{
                            'is-invalid': newMerchantForm.controls['cardid'].invalid && (newMerchantForm.controls['cardid'].dirty || newMerchantForm.controls['cardid'].touched), 
                            'is-valid': newMerchantForm.controls['cardid'].valid}"
                          >
                        <div class="invalid-feedback">
                          <div *ngIf="cardid.errors?.['required']">
                              <i class="bi bi-exclamation-octagon"></i>
                              Please input card id.
                          </div>
                        </div>
                      </div>

                    </div>
                    <!-- End Merchant address -->
                    <!-- Submit Button -->
                    <div class="row g-3 mt-2">
                      <div class="col text-end">
                        <button class="btn" style="background-color: #07484A; color: #fff;" (click)="testlog()" [disabled]="newMerchantForm.invalid">Sumbit</button>
                      </div>
                    </div>
                    <!-- End Submit Button -->
                  </form>
                </div>
            </div>
        </div>
        </div>
      </div>
    </main>
    <div class="modal fade" id="ModalEditMerchantInfo">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5">Merchant Information</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form [formGroup]="edMerchantForm">
              <input type="text" formControlName="merchantid" hidden readonly>
              <input type="text" formControlName="addressid" hidden readonly>

              <div class="mb-3">
                <label for="edmerchname" class="col-form-label">Username</label>
                <input 
                  type="text" 
                  class="form-control" 
                  id="edmerchname" 
                  formControlName="edmerchuname"
                  (change)="checkUpdatedUsername()"
                  [ngClass]="{
                    'is-invalid': (edMerchantForm.controls['edmerchuname'].invalid && 
                      (edMerchantForm.controls['edmerchuname'].dirty || 
                      edMerchantForm.controls['edmerchuname'].touched) || newmerchUsed === true), 
                    'is-valid': edMerchantForm.controls['edmerchuname'].valid}"
                >
                <div class="invalid-feedback">
                  <div *ngIf="edMerchantForm.get('edmerchuname').errors?.['required']">
                    <i class="bi bi-exclamation-octagon"></i>
                    Please input this field.
                  </div>
                  <div *ngIf="newmerchUsed === true">
                    <i class="bi bi-exclamation-octagon"></i>
                    This merchant name already used.
                  </div>
                  <div *ngIf="edMerchantForm.get('edmerchuname').errors?.['whitespace']">
                    <i class="bi bi-exclamation-octagon"></i>
                    Merchant Username cannot contain whitespace.
                  </div>
                </div>
              </div>
              <div class="mb-3">
                <label for="edmerchname" class="col-form-label">Full Name</label>
                <input 
                  type="text" 
                  class="form-control" 
                  id="edmerchname" 
                  formControlName="edmerchname"
                  [ngClass]="{
                    'is-invalid': (edMerchantForm.controls['edmerchname'].invalid && 
                      (edMerchantForm.controls['edmerchname'].dirty || 
                      edMerchantForm.controls['edmerchname'].touched)), 
                    'is-valid': edMerchantForm.controls['edmerchname'].valid}" 
                >
                <div class="invalid-feedback">
                  <div *ngIf="edMerchantForm.get('edmerchname').errors?.['required']">
                    <i class="bi bi-exclamation-octagon"></i>
                    Please input this field.
                  </div>
                </div>
              </div>
              <div class="mb-3">
                <label for="edmerchdate" class="col-form-label">Date Created</label>
                <input 
                  type="date" 
                  class="form-control" 
                  id="edmerchdate"
                  formControlName="edmerchdate"
                  [ngClass]="{
                    'is-invalid': (edMerchantForm.controls['edmerchdate'].invalid && 
                      (edMerchantForm.controls['edmerchdate'].dirty || 
                      edMerchantForm.controls['edmerchdate'].touched)), 
                    'is-valid': edMerchantForm.controls['edmerchdate'].valid}" 
                >
                <div class="invalid-feedback">
                  <div *ngIf="edMerchantForm.get('edmerchdate').errors?.['required']">
                    <i class="bi bi-exclamation-octagon"></i>
                    Please input this field.
                  </div>
                </div>
              </div>
              <div class="mb-3">
                <label for="edmerchopen" class="col-form-label">Open Time</label>
                <input 
                  type="text" 
                  class="form-control" 
                  id="edmerchopen"
                  formControlName="edmerchopen"
                  [ngClass]="{
                    'is-invalid': (edMerchantForm.controls['edmerchopen'].invalid && 
                      (edMerchantForm.controls['edmerchopen'].dirty || 
                      edMerchantForm.controls['edmerchopen'].touched)), 
                    'is-valid': edMerchantForm.controls['edmerchopen'].valid}" 
                >
                <div class="invalid-feedback">
                  <div *ngIf="edMerchantForm.get('edmerchopen').errors?.['required']">
                    <i class="bi bi-exclamation-octagon"></i>
                    Please input this field.
                  </div>
                </div>
              </div>
              <div class="mb-3">
                <label for="edmerchclose" class="col-form-label">Closed TIme</label>
                <input 
                  type="text" 
                  class="form-control" 
                  id="edmerchclose"
                  formControlName="edmerchclose"
                  [ngClass]="{
                    'is-invalid': (edMerchantForm.controls['edmerchclose'].invalid && 
                      (edMerchantForm.controls['edmerchclose'].dirty || 
                      edMerchantForm.controls['edmerchclose'].touched)), 
                    'is-valid': edMerchantForm.controls['edmerchclose'].valid}" 
                >
                <div class="invalid-feedback">
                  <div *ngIf="edMerchantForm.get('edmerchclose').errors?.['required']">
                    <i class="bi bi-exclamation-octagon"></i>
                    Please input this field.
                  </div>
                </div>

              </div>
              <div class="mb-3">
                <label for="edmerchantlogo" class="col-form-label">Merchant Logo</label>
                <div class="text-center">
                  <label for="edmerchantlogo">
                    <img [src]="imgMerchLinkTemp" alt="Merchant Logo" width="100px" height="100px" style="border-radius: 10px;">
                  </label>
                  <br>
                  <small class="font-monospace" *ngIf="isImagechages === false">Click image for update merchant image.</small>
                  <small class="font-monospace" *ngIf="isImagechages === true">Click <a>reset</a> to undo changes.</small>
                </div>
                <input 
                  type="file" 
                  class="form-control"
                  id="edmerchantlogo"  
                  formControlName="edmerchantlogo"  
                  accept="image/png, image/jpeg" 
                  (change)="editMerchlogos($event); isImagechages = true"
                  hidden
                >
                <input type="button" class="form-control" [hidden]="isImagechages === false" value="Reset image" (click)="resetEditImg(); isImagechages = false">
              </div>
              <div class="mb-3">
                <label>Subscription Type</label>
                <select formControlName="subscription_type" class="form-select"
                  [ngClass]="{
                    'is-invalid': (edMerchantForm.controls['subscription_type'].invalid && (edMerchantForm.controls['subscription_type'].dirty || edMerchantForm.controls['subscription_type'].touched)), 
                    'is-valid': edMerchantForm.controls['subscription_type'].valid}"
                >
                  <option value="Monthly">Monthly</option>
                  <option value="Annual">Annual</option>
                  <option value="Annual Pro">Annual Pro</option>
                  <option value="Expired">Expired</option>
                </select>
                <div class="invalid-feedback">
                  <div *ngIf="newMerchantForm.controls['subscription_type'].errors?.['required']">
                    <i class="bi bi-exclamation-octagon"></i>
                    Please Select this field.
                  </div>
                </div>
              </div>
              <div class="mb-3">
                <label for="edmerchaddress" class="col-form-label">Full Address</label>
                <input 
                  type="text" 
                  class="form-control" 
                  id="edmerchaddress"
                  formControlName="edmerchaddress"
                  [ngClass]="{
                    'is-invalid': (edMerchantForm.controls['edmerchaddress'].invalid && 
                      (edMerchantForm.controls['edmerchaddress'].dirty || 
                      edMerchantForm.controls['edmerchaddress'].touched)), 
                    'is-valid': edMerchantForm.controls['edmerchaddress'].valid}" 
                >
                <div class="invalid-feedback">
                  <div *ngIf="edMerchantForm.get('edmerchaddress').errors?.['required']">
                    <i class="bi bi-exclamation-octagon"></i>
                    Please input this field.
                  </div>
                </div>
              </div>
              <div class="mb-3">
                <label for="edmerchcity" class="col-form-label">City</label>
                <input 
                  type="text" 
                  class="form-control" 
                  id="edmerchcity"
                  formControlName="edmerchcity"
                  [ngClass]="{
                    'is-invalid': (edMerchantForm.controls['edmerchcity'].invalid && 
                      (edMerchantForm.controls['edmerchcity'].dirty || 
                      edMerchantForm.controls['edmerchcity'].touched)), 
                    'is-valid': edMerchantForm.controls['edmerchcity'].valid}" 
                >
                <div class="invalid-feedback">
                  <div *ngIf="edMerchantForm.get('edmerchcity').errors?.['required']">
                    <i class="bi bi-exclamation-octagon"></i>
                    Please input this field.
                  </div>
                </div>
              </div>
              <div class="mb-3">
                <label for="edmerchpostcode" class="col-form-label">Post Code</label>
                <input 
                  type="text" 
                  class="form-control" 
                  id="edmerchpostcode"
                  formControlName="edmerchpostcode"
                  [ngClass]="{
                    'is-invalid': (edMerchantForm.controls['edmerchpostcode'].invalid && 
                      (edMerchantForm.controls['edmerchpostcode'].dirty || 
                      edMerchantForm.controls['edmerchpostcode'].touched)), 
                    'is-valid': edMerchantForm.controls['edmerchpostcode'].valid}" 
                >
                <div class="invalid-feedback">
                  <div *ngIf="edMerchantForm.get('edmerchpostcode').errors?.['required']">
                    <i class="bi bi-exclamation-octagon"></i>
                    Please input this field.
                  </div>
                </div>
              </div>
              <div class="mb-3">
                <label for="edlongitude" class="col-form-label">Longitude</label>
                <input 
                  type="text" 
                  class="form-control" 
                  id="edlongitude"
                  formControlName="longitude"
                  [ngClass]="{
                    'is-invalid': (edMerchantForm.controls['longitude'].invalid && 
                      (edMerchantForm.controls['longitude'].dirty || 
                      edMerchantForm.controls['longitude'].touched)), 
                    'is-valid': edMerchantForm.controls['longitude'].valid}" 
                >
                <div class="invalid-feedback">
                  <div *ngIf="edMerchantForm.get('longitude').errors?.['required']">
                    <i class="bi bi-exclamation-octagon"></i>
                    Please input this field.
                  </div>
                </div>
              </div>
              <div class="mb-2">
                <label for="edLatitude" class="col-form-label">Latitude</label>
                <input 
                  type="text" 
                  class="form-control" 
                  id="edLatitude"
                  formControlName="latitude"
                  [ngClass]="{
                    'is-invalid': (edMerchantForm.controls['latitude'].invalid && 
                      (edMerchantForm.controls['latitude'].dirty || 
                      edMerchantForm.controls['latitude'].touched)), 
                    'is-valid': edMerchantForm.controls['latitude'].valid}" 
                >
                <div class="invalid-feedback">
                  <div *ngIf="edMerchantForm.get('edmerchpostcode').errors?.['required']">
                    <i class="bi bi-exclamation-octagon"></i>
                    Please input this field.
                  </div>
                </div>
              </div>
              <div class="mb-3 text-center">
                <p class="font-monospace">
                  You can get your longitude and latitude by follow this 
                  <a href="https://www.google.com/maps/search/{{gmap_search}}" target="_blank">link</a> or 
                  <a href="/ol" target="_blank">ops-longlat</a>. read more about find longitude and latitude with google maps
                  <a href="https://www.wikihow.com/Get-Latitude-and-Longitude-from-Google-Maps" target="_blank">here</a>.
                </p>
              </div>
              <div class="mb-3">
                <label for="edmerchtcp" class="col-form-label">Contact Phone</label>
                <input 
                  type="text" 
                  class="form-control" 
                  id="edmerchtcp"
                  formControlName="edmerchtcp"
                  [ngClass]="{
                    'is-invalid': (edMerchantForm.controls['edmerchtcp'].invalid && 
                      (edMerchantForm.controls['edmerchtcp'].dirty || 
                      edMerchantForm.controls['edmerchtcp'].touched)), 
                    'is-valid': edMerchantForm.controls['edmerchtcp'].valid}" 
                >
                <div class="invalid-feedback">
                  <div *ngIf="edMerchantForm.get('edmerchtcp').errors?.['required']">
                    <i class="bi bi-exclamation-octagon"></i>
                    Please input this field.
                  </div>
                  <div *ngIf="edMerchantForm.get('edmerchtcp').errors?.['pattern']">
                    <i class="bi bi-exclamation-octagon"></i>
                    Please input valid number only.
                  </div>
                </div>
              </div>
              <div class="mb-3">
                <label for="edmerchtinfo" class="col-form-label" (click)="submitEditMerchant()">Aditional Information</label>
                <textarea class="form-control" id="edmerchtinfo" formControlName="edmerchtinfo"></textarea>    
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" (click)="submitEditMerchant()">Submit Changes</button>
          </div>
        </div>
      </div>
    </div>
  </body>