<div class="headeropscat container-fluid" *ngIf="apilogin === null">
    <a href="/">
        <div class="brandops">
            <h2 class="brandopstag">OPS</h2>
        </div>
    </a>
    
    <div class="searchcatops">
        <div class="input-group" onsubmit="console.log('submited')">
            <input type="text" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="basic-addon2" onfocus="">
            <span class="input-group-text" id="basic-addon2" ><i class="bi bi-search" style="color: #07484A;"></i></span>
        </div> 
    </div>
    <div class="chartops">
        <i class="bi bi-cart-fill" style="color: #07484A;"></i>
    </div>
    <div class="listifmobileops">
        <div class="dropdown">
            <i class="bi bi-list" type="button" data-bs-toggle="dropdown" aria-expanded="false"></i>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#exampleModal">Login</a></li>
              <li><a class="dropdown-item" href="/register">Sign Up</a></li>
            </ul>
        </div>
    </div>
    <div class="categorynotlog">
        <button type="button" class="btn log001" data-bs-toggle="modal" data-bs-target="#exampleModal">Login</button>
        <button type="button" class="btn sign001" routerLink="/register">Sign Up</button>
    </div>
</div>

<div class="headeropscat hasloginedops container-fluid" *ngIf="apilogin != null">
    <a href="/">
        <div class="brandops">
            <h2 class="brandopstag">OPS</h2>
        </div>
    </a>
    <div class="searchcatops">
        <div class="input-group" onsubmit="console.log('submited')">
            <input type="text" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="basic-addon2">
            <span class="input-group-text" id="basic-addon2" ><i class="bi bi-search" style="color: #07484A;"></i></span>
        </div> 
    </div>
    <div class="chartops">
        <i class="bi bi-cart-fill"></i>
    </div>
    <div class="notifcatops">
        <i class="bi bi-bell-fill"></i>
    </div>
    <div class="listifmobileops">
        <i class="bi bi-list" type="button" data-bs-toggle="dropdown" aria-expanded="false"></i>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/user/profile">Profile {{  apilogin.fields[0].username }}</a></li>
            <li><a class="dropdown-item" (click)="signout()">Sign Out</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
    </div>
    <div class="categorylogops">
        <div class="dropdown">
            <div type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-person-circle"></i>
                <span class="melogin">{{  apilogin.fields[0].username }}</span>
            </div>
            
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="/user/profile" *ngIf="meUIuser == 0">Profile {{  apilogin.fields[0].username }}</a></li>
              <li><a class="dropdown-item" href="developer/dashboard" *ngIf="meUIuser == 1">Dashboard Developer</a></li>
              <li><a class="dropdown-item" (click)="signout()">Sign Out</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
        </div>
    </div>
</div>