/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import 'ngx-toastr/toastr';

*, html, body {
  scroll-behavior: smooth !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type=number] {
    appearance: textfield;
}

.timepicker-backdrop-overlay {z-index: 10000 !important;}

.timepicker-overlay {z-index: 10001 !important;}