/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import 'ngx-toastr/toastr';

*, html, body {
  scroll-behavior: smooth !important;
}

.bgopsColor{
  background-color: #07484A;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type=number] {
    appearance: textfield;
}

.textops{
  color: #07484A !important;
}

.btnops{
  border: none !important;
  background: #07484A !important;
  color: white;
}

.btnops:hover{
  background: #043233 !important;
  color: white;
}

.btnops-outline{
  border: 1px solid #07484A !important;
  color: #07484A !important;
}

.cursor-pointer{
  cursor: pointer !important;
}

.btnops-outline:hover, .btnops-outline:active{
  background: #043233 !important;
  color: white !important;
}

.btnops:focus-visible{
  box-shadow: none !important;
}

.form-check-input:checked{
  background-color: #07484A !important;
  border-color: #07484A !important; 
}

.range-OPS::-webkit-slider-thumb, .range-OPS::-moz-range-thumb {
  background-color: #07484A !important;
}
.range-OPS:focus, .range-OPS:focus::-webkit-slider-thumb, .range-OPS:focus::-moz-range-thumb {
  box-shadow: none !important;
}
.timepicker-backdrop-overlay {z-index: 10000 !important;}

.timepicker-overlay {z-index: 10001 !important;}