<app-header></app-header>
<div class="container-fluid ">

    <div class="col-md-10 mt-4 mb-3 mx-auto">
        <div class="card shadow">

            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#account-information" type="button" role="tab" aria-controls="account-information" aria-selected="true">
                        Account Information
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#consumer-address" type="button" role="tab" aria-controls="consumer-address" aria-selected="false">
                        Address
                    </button>
                </li>
            </ul>
                
            <div class="tab-content" id="myTabContent">
                <!-- Account Information -->
                <div class="tab-pane fade show active" id="account-information" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
                    <form [formGroup]="formUpdateProfile" (ngSubmit)="submitChangesProfile()">
                        <div class="card-body">
                            <div class="row">

                                <!-- Username -->
                                <div class="col-md-6 my-2">
                                    <div class="form-group">
                                        <label for="username" class="form-label">Username</label>
                                        <div class="input-group">
                                            <input type="text" id="username" class="form-control" value="{{this.jsonData.fields[0].username}}" disabled="" >
                                            <!-- for now please email admin for change username -->
                                            <!-- <button class="btn btn-outline-secondary" type="button" id="edit-username" (click)="editSomeDatas('username')">Edit</button> -->
                                        </div>
                                    </div>
                                </div>
                                <!-- End-of-Username -->

                                <!-- Fullname -->                 
                                <div class="col-md-6  my-2">
                                    <div class="form-group">
                                        <label for="fullname" class="form-label">Full name</label>
                                        <div class="input-group">
                                            <input type="text" id="fullname" class="form-control" formControlName="fullname">
                                            <button class="btn btn-outline-secondary" type="button" id="edit-fullname" (click)="editSomeDatas('fullname')" *ngIf="!this.listManage.updateFullname">Edit</button>
                                            <button class="btn btn-outline-secondary" type="button" id="edit-fullname" (click)="cancelSomeDatas('fullname')" *ngIf="this.listManage.updateFullname">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                                <!-- End-of-Fullname -->

                                <!-- Email -->                 
                                <div class="col-md-6  my-2">
                                    <div class="form-group">
                                        <label for="email" class="form-label">Email</label>
                                        <div class="input-group">
                                            <input type="text" id="email" class="form-control" value="{{this.jsonData.fields[0].email}}" disabled="" >
                                            <!-- for now please email admin for change email -->
                                            <!-- <button class="btn btn-outline-secondary" type="button" id="edit-email">Edit</button> -->
                                        </div>
                                    </div>
                                </div>
                                <!-- End-of-Email -->

                                <!-- Gender -->                 
                                <div class="col-md-6  my-2">
                                    <div class="form-group">
                                        <label for="gender" class="form-label">Gender</label>
                                        <div class="input-group">
                                            <select class="form-control" id="gender" required formControlName="gender">
                                                <option value="Male">Male</option>
                                                <option value="Female">Female</option>
                                            </select>
                                            <button class="btn btn-outline-secondary" type="button" id="edit-gender" (click)="editSomeDatas('gender')" *ngIf="!this.listManage.updateGender">Edit</button>
                                            <button class="btn btn-outline-secondary" type="button" id="edit-fullname" (click)="cancelSomeDatas('gender')" *ngIf="this.listManage.updateGender">Cancel</button>

                                        </div>
                                    </div>
                                </div>
                                <!-- End-of-Gender -->

                                <!-- Phone -->
                                <div class="col-md-6  my-2">
                                    <div class="form-group">
                                        <label for="phone" class="form-label">Phone</label>
                                        <div class="input-group">
                                            <input type="text" id="phone" class="form-control" value="{{this.jsonData.fields[0].phone}}" disabled="" >
                                            <!-- for now please email admin for change phone -->
                                            <!-- <button class="btn btn-outline-secondary" type="button" id="edit-phone">Edit</button> -->
                                        </div>
                                    </div>
                                </div>
                                <!-- End-of-Phone -->

                            </div>
                        </div>
                        <div class="card-footer bg-white" *ngIf="changesDatas">
                            <button type="button" class="btn btn-outline-secondary my-2 mx-2">Cancel</button>
                            <button type="submit" class="btn cusopssub my-2 mx-2">Submit Changes</button>
                        </div>
                    </form>
                </div>
                <!-- End-of-Tab Account Information -->

                <!-- Tab Address -->
                <div class="tab-pane fade" id="consumer-address" role="tabpanel" aria-labelledby="consumer-address" tabindex="0">
                    <div class="card-body">
                        <div class="mb-4">
                            <div class="d-flex pt-2">
                                <div>
                                    <label for="selected-address" class="form-label"><b>Select Address</b></label>
                                </div>
                                <div class="ms-auto">
                                  <p class="text-primary user-select-none shipphov" role="button" data-bs-toggle="modal" data-bs-target="#modalAddAdress">
                                    <i class="bi bi-plus-circle pe-1"></i>Add address for shipping
                                  </p>
                                </div>
                            </div>
                            <select name="" id="selected-address" class="form-select" (change)="selectedAddress($event)" *ngIf="collectionAddress">
                                <option value="-1" hidden>Select Address</option>
                                <option value="{{dat.addressid}}" *ngFor="let dat of collectionAddress">{{dat.fulladdress}}, {{dat.city}}, {{dat.postcode}}</option>
                            </select>
                        </div>
                        <div class="mb-4" *ngIf="selectedAddressDatas">
                            <p><b>Edit Address</b></p>
                            <form [formGroup]="editAddressForm">
                                <div class="row g-3">
                                    <div class="col-12">
                                    <label>Full Address</label>
                                    <input 
                                        type="text" 
                                        class="form-control" 
                                        placeholder="Full Address"  
                                        formControlName="fulladdress"
                                        [ngClass]="{
                                        'is-invalid': (editAddressForm.controls['fulladdress'].invalid && (editAddressForm.controls['fulladdress'].dirty || editAddressForm.controls['fulladdress'].touched)), 
                                        'is-valid': editAddressForm.controls['fulladdress'].valid}"
                                    >
                                    <div class="invalid-feedback">
                                        <div *ngIf="editAddressForm.controls['fulladdress'].errors?.['required']">
                                        <i class="bi bi-exclamation-octagon"></i>
                                        Please input this field.
                                        </div>
                                    </div>
                                    </div>
                                    <div class="col-6 ">
                                    <label>City</label>
                                    <input 
                                        type="text" 
                                        class="form-control" 
                                        placeholder="City" 
                                        formControlName="city"
                                        [ngClass]="{
                                        'is-invalid': (editAddressForm.controls['city'].invalid && (editAddressForm.controls['city'].dirty || editAddressForm.controls['city'].touched)), 
                                        'is-valid': editAddressForm.controls['city'].valid}"
                                    >
                                    <div class="invalid-feedback">
                                        <div *ngIf="editAddressForm.controls['city'].errors?.['required']">
                                        <i class="bi bi-exclamation-octagon"></i>
                                        Please input this field.
                                        </div>
                                    </div>
                                    </div>
                                    <div class="col-6">
                                    <label>Post Code</label>
                                    <input 
                                        type="text" 
                                        class="form-control" 
                                        placeholder="Post Code" 
                                        formControlName="postcode"
                                        [ngClass]="{
                                        'is-invalid': (editAddressForm.controls['postcode'].invalid && (editAddressForm.controls['postcode'].dirty || editAddressForm.controls['postcode'].touched)), 
                                        'is-valid': editAddressForm.controls['postcode'].valid}" 
                                    >
                                    <div class="invalid-feedback">
                                        <div *ngIf="editAddressForm.controls['postcode'].errors?.['required']">
                                        <i class="bi bi-exclamation-octagon"></i>
                                        Please input this field.
                                        </div>
                                    </div>
                                    </div>
                                    <div class="col-12">
                                    <label>Contact Phone</label>
                                    <input
                                        type="text" 
                                        class="form-control"  
                                        placeholder="Phone Number" 
                                        formControlName="phoneaddress"
                                        [ngClass]="{
                                        'is-invalid': (editAddressForm.controls['phoneaddress'].invalid && (editAddressForm.controls['phoneaddress'].dirty || editAddressForm.controls['phoneaddress'].touched)), 
                                        'is-valid': editAddressForm.controls['phoneaddress'].valid}" 
                                    >
                                    <div class="invalid-feedback">
                                        <div *ngIf="editAddressForm.controls['phoneaddress'].errors?.['required']">
                                        <i class="bi bi-exclamation-octagon"></i>
                                        Please input this field.
                                        </div>
                                        <div *ngIf="editAddressForm.controls['phoneaddress'].errors?.['pattern']">
                                        <i class="bi bi-exclamation-octagon"></i>
                                        Please input valid number only.
                                        </div>
                                    </div>
                                    </div>
                                    <div class="col-12">
                                    <label>Aditional Information</label>
                                    <textarea 
                                        class="form-control" 
                                        rows="3" 
                                        formControlName="note"></textarea>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="card-footer bg-white" *ngIf="selectedAddressDatas"> 
                        <div class="float-end">
                            <button type="button" class="btn btn-danger my-2 me-2" (click)="deleteAddress(this.deleteButtonId)">Delete</button>
                            <button type="submit" class="btn cusopssub my-2 me-2" (click)="submitEditAddress()" [disabled]="this.editAddressForm.invalid">Submit Changes</button>
                        </div>
                    </div>
                </div>
                <!-- End-of-Tab Address -->

        </div>
    </div>
</div>

<app-AddAddress (getAllAddress)="getAllAddress()"></app-AddAddress>